body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    color: #f19;
    border: 5px outset #f19;
    width: 70%;
    margin: 5px auto;
    padding: 5px;
    background-image: linear-gradient(lightblue, white);
}
main{
    border: 5px outset #f19;
    width: 50%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

h3{
    margin-left: 1em;
    margin-top: 1em;
    color: #f19;
}
input{
    margin: 1em;
    height: 2em;
}

button{
    margin-left: 1em;
    background-color: lightblue;
    border-radius: 50%;
    padding: 10px;
    width: 5em;
    margin: 1em auto;
}

#run{
    width: 6em;
}

p{
    text-align: center;
    display: none;
}